
{{> head}}
    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Astronauta</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, molestias qui quisquam nobis fugiat necessitatibus perferendis cum consequuntur, ducimus cumque tenetur explicabo porro blanditiis praesentium aspernatur? Non saepe id voluptatum.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/astronaut.jpg" class="img-thumbnail" />
        </div>

    </div>

{{> footer}}